h3{
    position: absolute;
    left: 450px;
    top: 10px;
}
body{
    width: 100%;
    background-size: cover;
    background: url(https://cache.desktopnexus.com/thumbseg/2456/2456129-bigthumbnail.jpg),no-repeat;
}
